/*==================

CONTENTS

1) General

2) Banner

3.1) Header
3.2) Header Home Page
3.3) Header Portfolio Page
3.4) Header Nav Links
3.5) Dropdown Menu

4) Footer

5) Media Queries

==================*/


/*=====================
   1)  General css
=====================*/

:root {
    
}


.title-font {
    font-family: "nunito sans", sans-serif;
}

a {
    text-decoration: none;
}






/*====================
    2)  Banner
====================*/

.banner {
    display: none;
    height: 5vh;
    min-height: 40px;
}

.banner-left {
    float: left;
    width: 50%;
    
    color: black;
}

.banner-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: rgb(248, 248, 248, 0.7);
}

.banner-link {
    color: grey;
    font-size: 18px;
    font-family: "nunito sans", sans-serif;
    font-weight: 400;
    transition: color 325ms;
    text-decoration: none;
}

.banner-link:hover {
    color: #444;
}

.current-banner-page {
    color: black;
    font-weight: 600;
    background-color: #e9e9e9;
}






/*====================
    3)  Header
====================*/



/* Normal Header*/

.header {
  margin-bottom: 20px;
  height: 100px;
}


.name-top {
    text-align: left;
    margin: 0 4% 0.5% min(2%, 15px);
    text-decoration: none;
}

.main-title a {
    font-weight: 800;
    color: black;
    font-size: 1.75rem;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: -1px;
}

h2 {
    margin: 2% 0 0 clamp(7px, 1vw, 10px);
}

.main-sub-heading,
.main-sub-heading a {
    font-size: 0.85rem;
    font-weight: 400;
    color: black;
}


.main-sub-heading a {
    margin-left: 0px;
}



.mobile-sub-heading {
    display: block;
}

.web-sub-heading {
    display: none;
}


/*====================
3.1)  Header Home Page
====================*/


.header-home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-overlay {
    /*background-color: rgba(15, 15, 15, 0.4);*/
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) calc(100% - 150px), rgba(0, 0, 0, 0.3) calc(100% - 60px), rgba(0, 0, 0, 0.3));*/
    position: relative;
    z-index: -1;
    height: 100%;
}

.header-background {
    height: max(550px, 100vh);
    background-image: url("../images/landing-photo3.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    position: relative;
    z-index: -1;
    width: 100%;
}

.parallax {
    position: relative;
    z-index: 0;
}

.header-quote-container {
    color: white;
    margin-bottom: 10%;
    text-shadow: 1px 1px 10px rgba(35, 35, 35, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.main-quote {
   font-size: clamp(2rem, 6vw, 4.2rem);
   font-weight: 600;
   margin: 1% 0 1.6% 0;
   white-space: nowrap;
}

.main-quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullit-point {
    height: max(14px, 1.3vw);
    background-color: white;
    width: max(14px, 1.3vw);
    border-radius: 100%;
    margin: 0 max(12px, 1.1vw) 0 max(12px, 1.1vw);
    display: inline-block;
}

.small-bullit-point {
    margin: max(5px, 1.2vw) max(3px, 0.9vw) max(5px, 1.2vw) max(3px, 0.9vw);
}

.main-quote-small-container {
    display: none;
}

.main-quote-small {
    font-size: clamp(2.5rem, 11vw, 5rem);
}

.sub-quote {
    font-size: clamp(1rem, 2vw, 1.2rem);
    width: 85%;
    max-width: 920px;
    line-height: 1.25;
    font-weight: 400;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-radius: 2px;
    padding: 1.3%;
}

.quote-name {
    font-size: clamp(0.7rem, 1.4vw, 0.85rem);
    font-style: italic;
}

.header-text {
    font-size: clamp(0.6rem, 2vw, 1.1rem);
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    bottom: 35px;
    font-weight: 700;
    background-image: radial-gradient(rgba(50, 50, 50, 0.3), transparent 70%);
    padding: 30px 5vw;
    font-family: roboto, arial;
}


/*==========================
3.2) Header Portfolio Page
==========================*/


.header-background-portfolio {
    
    background-image: url("../images/mountain1.jpg");
    background-image: url("../../articles/3-austria-dec2017-apr2018/images/moon.jpg");
    background-image: url("../images/moon.jpg");
    /*background-image: url("../article-images/1-riverhome.jpg");*/
    /*background-position: left;*/
}

.portfolio-block-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.skill-container {
    padding: 2.5%;
    border: 3px solid white;
    border-radius: 15px;
    text-align: left;
    width: 38%;
    max-width: 500px;
    /*min-width: 250px;*/
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.skill-title {
    font-size: clamp(1.5rem, 4vw, 2.95rem);
    font-family: "nunito sans", sans-serif;
    margin: 1% 1% 6% 0;
    color: white;
}

.skill-text {
    font-size: clamp(0.85rem, 2.5vw, 1.28rem);
    line-height: 1.3;
    font-weight: 300;
}

.header-quote-container-portfolio {
    margin-bottom: 3%;
    height: 100%;
}

.grey {
    color: #dedede !important; 
}

.dropdown span.grey-background {
    background-color: #dedede;
    border: 1px solid #dedede;
}

.nav-link.current-page-port {
    color: #dedede;
    font-weight: 600;
}


/*===========================
3.3)  header navigation links
===========================*/



.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
    position: relative;
    top: clamp(2px, 1.5vw, 30px);
    width: 100%;
    max-width: 950px;
    z-index: 4;
}

.header-links-home {
    position: absolute;
}

.link-position {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: grey;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 16px;
    transition: color 325ms;
}

.nav-link:hover {
    color: #444;
}

.nav-link.current-page {
    color: black; 
    font-weight: 600;
}

.nav-link img {
    width: 0.9rem;
}


/*====================
3.4)  Dropdown Menu 
====================*/


.dropdown {
    position: relative;
    display: none;
    float: right;
    margin: 1% 2%;
    border-radius: 10px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger {
    height: 47px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown span {
    display: block;
    width: clamp(40px, 8vw, 50px);
    height: clamp(3px, 5vw, 5px);
    background-color: black;
    border: 1px solid black;
    margin: 8px;
    border-radius: 20px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.dropdown-content nav a {
    display: block;
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid #d3d3d3;
    color: grey;
    text-align: center;
    text-decoration: none;
}

.dropdown-content nav a:hover {
    color: #444;
}

.dropdown-background {
    background-color: #f3f3f3;
}

.dropdown-background-portfolio {
    background-color: #303030;
}

.bar1 {
    -webkit-transform: rotate(45deg) translate(11px, 11px);
            transform: rotate(45deg) translate(11px, 11px);
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.bar2 {
    background-color: transparent !important;
    border: transparent !important;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.bar3 {
    -webkit-transform: rotate(-45deg) translate(9px, -9px);
            transform: rotate(-45deg) translate(9px, -9px);
    -webkit-transition: all 250ms;
    transition: all 250ms;
}


/*=====================
    4)  Footer
=====================*/


.footer {
    margin-top: 100px;
    border-top: 1px solid #d3d3d3;
}

.footerlink {
    margin: 0 20px;
    color: grey;
    font-weight: 300;
    transition: color 325ms;
    text-decoration: underline;
}

.footerlinks {
    padding: 35px;
    font-size: 0.8rem;
}

.footerlink:hover {
    color: #222;
}

.copyright {
    font-size: clamp(9px, 2vw, 12px);
    padding: 0;
    margin: 0 auto;
    text-align: center;
}



/*====================
 5)  Media Queries 
====================*/


@media only screen and (max-width: 1024px) {

    .link-position {
        display: none;
    }

    .dropdown {
        display: block;
    }

    /*.banner {
        display: block;
    }*/

    .header-background {
        height: max(100vh, 500px);
    }

    .name-top {
        margin-top: 5px;
    }

    /*.sub-quote {
        width: 65%;
    }*/
}

@media only screen and (max-width: 940px) {
    .header-background-portfolio {
        background-image: url("../images/moon-small.jpg");
        background-position: left;
    }
}

@media only screen and (max-width: 700px) {

    .footer {
        font-size: 0.7rem;
    }

    .footerlinks .insta {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .portfolio-block-container {
        flex-direction: column;
    }

    .skill-container {
        height: auto;
        padding-bottom: 15%;
        width: 80%;
    }
}


@media only screen and (max-width: 520px) {

    .main-quote-container {
        display: none;
    }

    .main-quote-small-container {
        display: block;
    }

    /*.sub-quote {
        display: none;
    }*/
}

@media only screen and (max-width: 500px) {

    .footerlink {
        display: block;
        margin: 15px 0;
    }

    .skill-text {
        display: none;
    }

    .skill-container {
        padding: 3vh;
        padding-bottom: 3vh;
        text-align: center;
        margin: 7% 3% 7% 3%;
    }

    .skill-title {
        margin: 1% 1% 1% 1%;
    }
}


@media only screen and (max-width: 480px) {

    .main-title a {
        font-size: clamp(1rem, 1.2rem, 1.4rem);
    }

    .main-sub-heading a {
        font-size: 0.7rem;
    }

    .header-background {
        background-image: url("../images/landing-photo-mobile.jpg");
    }

    .header-background-portfolio {
        background-image: url("../images/moon-small.jpg");
        background-position: left;
    }
}



/* Height Media Queries */

@media only screen and (max-height: 480px) {

    .header-quote-container {
        margin-bottom: 3%;
    }
}


@media only screen and (max-height: 750px) and (min-width: 500px) {
    .header-quote-container {
        margin-bottom: 4%;
    }

    .skill-container {
        padding-bottom: 3.5vh;
        padding-top: 1vh;
    }
}
@media (orientation: landscape) and (max-width: 670px) {

    .portfolio-block-container {
        flex-direction: row;
    }

    .skill-container {
        height: 30%;
        padding-bottom: 16%;
        width: 80%;
    }
}









