html {
    text-align: center;
    font-family: "roboto", arial;
    font-size: 20px;
}

@media only screen and (max-width: 300px) {

	html {
		font-size: 16px;
	}
}





/*Banner*/

.banner {
    display: none;
}

.banner-left {
    float: left;
    width: 50%;
    
    color: black;
}

.banner div {
    display: inline-block;
    width: 50%;
    padding: 10px 0 10px 0;
    background-color: rgb(248, 248, 248, 0.7);
}

.banner div a {
    color: grey;
    font-size: 18px;
    font-family: "nunito sans", sans-serif;
    font-weight: 400;
    transition: color 325ms;
}

.banner div a:hover {
    color: #444;
}

.banner div a.current-banner-page {
    color: black;
    font-weight: 600;
    background-color: #e9e9e9;
}

.banner div.current-banner-page {
    background-color: #e9e9e9;
}





/*Header*/

header {
  margin-bottom: 20px;
  height: 100px;
}

header.head-home {
    height: 780px;
    background-image: url("../images/landing-photo3.jpg");
    background-size: cover;
    background-position: center;
}

h1, h2, .link-position a, h3 {
    font-family: "nunito sans", sans-serif;
}

div.name-top {
    position: absolute;
    top: 2%;   
    left: 1%;
    text-align: left;
}

h1 {
    font-weight: 800;
    color: black;
    font-size: 1.75rem;
    text-decoration: none;
}

h2 {
    font-size: 0.85rem;
    font-weight: 400;
    margin: 2% 0 0 10px;
    color: black;
}

/*header navigation links*/

div.link-position {
    position: absolute;
    right: 30px;
    top: 45px; 
}

.link-position a {
    text-decoration: none;
    color: grey;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 18px;
    transition: color 325ms;
}

.link-position a:hover {
    color: #444;
}

a.current-page {
    color: black; 
    font-weight: 600;
}

/* Dropdown Menu */

.dropdown {
    position: relative;
    display: none;
    float: right;
    margin: 1% 2%;
    border-radius: 10px;
}

.hamburger:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: black;
    border: 1px solid black;
    margin: 8px;
    border-radius: 20px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.dropdown-content nav a {
    display: block;
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid #d3d3d3;
    color: grey;
    text-align: center;
    text-decoration: none;
}

.dropdown-content nav a:hover {
    color: #444;
}

.dropdown-background {
    background-color: #f3f3f3;
}

.bar1 {
    -webkit-transform: rotate(45deg) translate(11px, 11px);
            transform: rotate(45deg) translate(11px, 11px);
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.bar2 {
    background-color: transparent !important;
    border: transparent !important;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.bar3 {
    -webkit-transform: rotate(-45deg) translate(9px, -9px);
            transform: rotate(-45deg) translate(9px, -9px);
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

/*General css*/

.center {
    display: block;
    margin: 0 auto;
}


a { 
    text-decoration: none;
}



/*Body of the home page*/

#blog_entries {
    max-width: 825px;
}

p.intro {
    width: 90%;
    padding: 2%;
    margin-bottom: 4%;
    border-top: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;   
}

.entry {
    padding: 0.25rem 0;
    width: 95%;
    max-width: 825px;
    position: relative;
    display: inline-block;
}

.zoom-container {
    overflow: hidden;
    border-radius: 0.1rem;
}

 h4 {
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "nuito sans", sans-serif;
    line-height: 40px;
    margin-bottom: 2px;
    position: absolute;
    margin: auto auto;
    color: black;
    z-index: 1;
    padding: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 107px;
    background-color: rgb(248, 248, 248, 0.7);
    border-radius: 0.1rem;
}

.entry img {
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    z-index: 0;
}

.entry img:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
}



.date {
    color: black;
    font-size: 0.75rem;
    font-weight: 400;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

@media only screen and (max-width: 900px) {

    .entry {
        max-width: 95%;
    }

      header.header-home {
        height: 475px;
    }
}



/*About me page*/

.about-container {
    max-width: 720px;
    width: 95%;
    overflow: hidden;
}

h3 {
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
}

p {
    width: 80%;
    padding: 30px 30px 0 30px;
    font-size: 1rem;
    line-height: 1.4;
}

img.selfportrait {
    border-top: 2px solid #d3d3d3;
    padding-top: 30px;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 900px) {

    .about-container {
        max-width: 95%;
    }
}



/*Contact me page*/

.contact-info {
    max-width: 850px;
    width: 95%;
    overflow: hidden; 
}

.contact-info img {
    width: 100%;
    height: auto;
}

em {
    color: black;
    text-decoration: underline;
}


.email-size {
    font-size: 1.15rem;
}

em:hover {
    color: #444;
}

.contact-info {
    padding-top: 50px;
}

/*Contact me Media Queries*/

@media only screen and (max-width: 900px) {

    .contact-info {
        max-width: 95%;
    }
}

@media only screen and (max-width: 340px) {
	
	.email-size {
		font-size: 1rem;
	}
}


/*Footer*/

footer {
    margin-top: 100px;
    border-top: 1px solid #d3d3d3;
}

.footerlinks a {
    margin: 0 20px;
    color: grey;
    font-weight: 300;
    transition: color 325ms;
    text-decoration: underline;
}

.footerlinks {
    padding: 20px;
    font-size: 0.8rem;
}

.footerlinks a:hover {
    color: #222;
}

footer p {
    font-size: 16px;
    padding: 0;
}


 /* Media Queries */

@media only screen and (max-width: 2880px) {

    html {
        max-width: 2880px;
    }

@media only screen and (max-width: 1400px) {

    header.head-home {
        height: 700px;
    }
}
    

@media only screen and (max-width: 1024px) {
    
    .link-position {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .banner {
        display: block;
    }

    div.name-top {
        top: 5%;
    }

    header.head-home {
        height: 500px;
    }

    .email-size {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 700px) {

    footer {
        font-size: 0.7rem;
    }

    .entry img:hover {
        transform: none;
    }

    .footerlinks .insta {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    h4 {
        font-size: 2rem;
    }

    .date {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.85rem;
    }
}



@media only screen and (max-width: 480px) {

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.7rem;
        margin-left: 2%;
    }

    .head-home {
        margin-bottom: 15px;
    }

    .entry {
        padding-top: 3px; /*changed from 10px*/
    }

    .footerlinks a {
        display: block;
        margin: 15px 0;
    }

    .contact-info {
        padding-top: 20px;
    }

    p {
        font-size: 0.8rem;
    }

    h4 {
        width: 60%;
    }
}

@media only screen and (max-width: 380px) {

    h4 {
        width: 80%;
        padding: 0;
    }
}





    















