* {
    padding: 0;
    margin: 0;
}

html {
    text-align: center;
    font-family: "roboto", arial;
}



/*Header*/

header {
  margin-bottom: 20px;
  height: 100px;
}

h1, h2, .link-position a, h3 {
    font-family: "nunito sans", sans-serif;
}

div.name-top {
    position: absolute;
    top: 20px;
    left: 25px;

    text-align: left;
}

h1 a {
    font-weight: 800;
    color: black;
    font-size: 35px;
    text-decoration: none;
}

h2 {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

/*header navigation links*/

div.link-position {
    position: absolute;
    right: 30px;
    top: 45px;
}

.link-position a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin: 0 18px;
}

.link-position a:hover {
    color: #444;
}

a.current-page {
    color: black; 
    font-weight: 600;
}

/*General css*/

.center {
    display: block;
    margin: 0 auto;
}



/*Body of the home page*/

.entry {
    margin: 30px 0;
}

.entry p {
    padding: 0;
}

.entry a {
    text-decoration: none;
    font-size: 50px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "nuito sans", sans-serif;
    line-height: 40px;
}

.date {
    color: black;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
}



/*About me page*/

h3 {
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}

p {
    width: 600px;
    padding: 30px 30px 0 30px;
    font-size: 20px;
}

img.selfportrait {
    border-top: 2px solid #d3d3d3;
    padding-top: 30px;
}



/*Contact me page*/

em {
    color: black;
    text-decoration: underline;
}


.email-size {
    font-size: 23px;
}

em:hover {
    color: #444;
}

.contact-info {
    padding-top: 50px;
}



/*Footer*/

footer {
    margin-top: 100px;
    border-top: 1px solid #d3d3d3
}

.footerlinks a {
    margin: 0 20px;
    color: grey;
    font-weight: 300;
}

.footerlinks {
    padding: 20px;
}

.footerlinks a:hover {
    color: #222;
}

footer p {
    font-size: 16px;
    padding: 0;
}





    















