/*====================
Contents

1) General

2) show more/less toggle

3) Blog body

4) Media Queries
====================*/



/*====================
   1) General css
====================*/

html {
    text-align: center;
    font-family: "roboto", arial;
    font-size: 20px;
    scroll-behavior: smooth;
}

.center {
    display: block;
    margin: 0 auto;
}


/*========================================
     2) Show more show less toggle
========================================*/

.more-content {
    display: none;
}

.show-more::after {
    content: " more ⬇";
}

.show-less::after {
    content: " less ⬆";
}

.show-button {
    cursor: pointer;
    color: grey;
    text-decoration: underline;
    transition: 325ms;
}

.show-button:hover {
    color: #444;
}

/*====================
 3) Blog entry body
====================*/

.body {
    max-width: 675px;
    width: 95%;
    overflow: hidden;
    margin-top: 30px;
}

.blog-img {
    max-width: 100%;
    height: auto; 
}  
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.article-title {
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
}


.date {
    text-align: left;
    padding: 0;
    font-size: 0.8rem;
    margin: 1px 1px 17px 1px;
    font-family: "nunito sans", sans-serif;
    border-bottom: 2px solid #d3d3d3;

}

.blog-paragraph {
    padding: 30px 0;
    position: relative;
    font-size: clamp(0.8rem, 3vw, 0.95rem);
    text-align: left;
    line-height: 1.4;
}

.images {
    margin: 8px 0; /*Changed from 10px*/
    width: 100%;
    height: auto; 
}

.back_to_top {
    margin: 70px 0 0 0;
    color: #1895dc;
    font-size: clamp(0.7rem, 3vw, 0.8rem);
    transition: color 325ms;
    text-decoration: underline;
}

.back_to_top:hover {
    color: #444;
}

.insta-logo {
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 5px;
    width: 25px;
    height: auto;
}

.insta-logo-container {
    position: relative;
}




/*====================
   4) Media Queries 
====================*/

@media only screen and (max-width: 800px) {

    .body {
        max-width: 95%;
    }
}


@media only screen and (max-width: 700px) {

    .article-title {
        margin-bottom: 40px;
        padding-top: 20px;
    }

    .insta-logo {
        width: 22px;
    }
}

@media only screen and (max-width: 600px) {

    .body {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {

    .insta-logo {
        width: 20px;
    }
}



@media only screen and (max-height: 850px) {
    
    .body {
        max-width: 550px;
    }
}

@media only screen and (max-height: 690px) {
    
    .body {
        max-width: 450px;
    }
}











