html {
    text-align: center;
    font-family: "roboto", arial;
    font-size: 20px;
}





/*Header*/

header {
  margin-bottom: 20px;
  height: 100px;
}

h1, h2, .link-position a, h3 {
    font-family: "nunito sans", sans-serif;
}

div.name-top {
    position: absolute;
    top: 2%;
    left: 1%;

    text-align: left;
}

h1 a {
    font-weight: 800;
    color: black;
    font-size: 1.75rem;
    text-decoration: none;
}

h2 {
    font-size: 0.85rem;
    font-weight: 400;
    margin: 2% 0 0 10px;
}

/*header navigation links*/

div.link-position {
    position: absolute;
    right: 30px;
    top: 45px;
}

.link-position a {
    text-decoration: none;
    color: grey;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 18px;
}

.link-position a:hover {
    color: #444;
}

a.current-page {
    color: black; 
    font-weight: 600;
}

/* Dropdown Menu */

.dropdown {
    position: relative;
    display: none;
    float: right;
    margin: 1% 2%;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: black;
    border: 1px solid black;
    margin: 8px;
    border-radius: 20px
}

.dropdown-content nav a {
    display: block;
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid #d3d3d3;
    color: grey;
    text-align: center;
    text-decoration: none;
}

.dropdown-content nav a:hover {
    color: #444;
}

.dropdown:hover {
    background-color: #f3f3f3;
}




/*General css*/

.center {
    display: block;
    margin: 0 auto;
}





/*Blog entry body*/

.body {
    max-width: 720px;
    width: 95%;
    overflow: hidden;
}

.body img {
    max-width: 100%;
    height: auto; 
}  

h3 {
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
}


p.date {
    text-align: left;
    padding: 0;
    font-size: 0.8rem;
    margin: 1px 1px 25px 1px;
    font-family: "nunito sans", sans-serif;
    border-bottom: 2px solid #d3d3d3;

}

p {
    padding: 30px 0;
    position: relative;
    font-size: 0.95rem;
    text-align: left;
}

.images {
    margin: 10px 0;
}

.back_to_top {
    margin: 70px 0 0 0;
    color: grey;
    font-size: 0.85;
}

@media only screen and (max-width: 800px) {

    .body {
        max-width: 95%;
    }
}




/*Footer*/

footer {
    margin-top: 100px;
    border-top: 1px solid #d3d3d3
}

.footerlinks a {
    margin: 0 20px;
    color: grey;
    font-weight: 300;
}

.footerlinks {
    padding: 20px;
}

.footerlinks a:hover {
    color: #222;
}

footer p {
    font-size: 16px;
    padding: 0;
    text-align: center;
}




/* Media Queries */

@media only screen and (max-width: 1024px) {
    .link-position {
        display: none;
    }

    .dropdown {
        display: block;
    }
}

@media only screen and (max-width: 700px) {

    h3 {
        margin: 20px 0 40px 0;
    }

    footer {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 480px) {

    h1 a {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.7rem;
        margin-left: 2%;
    }

    .footerlinks .insta {
        display: none;
    }

    .footerlinks a {
        margin: 0 10px;
    }
}














