/*====================
Contents

1) General css

2) Portfolio styles

3) Album Styles

4) Media Queries
====================*/



/*=====================
   1) General css
=====================*/

:root {
    --main-blue: #1895dc;
    --main-grey: #d3d3d3;
}

html {
    text-align: center;
    font-family: "roboto", arial;
    font-size: 20px;
    scroll-behavior: smooth;
}

.center {
    display: block;
    margin: 0 auto; 
}


/*=====================
  2) portfolio styles
=====================*/

.portfolio-headings{
    text-align: center;
    margin-top: max(30px, 3%);
    margin-bottom: max(30px, 3%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    max-width: 906px;
    border-top: 3px solid var(--main-blue);
    border-bottom: 3px solid var(--main-blue);
    border-right: 3px solid var(--main-blue);
    border-radius: 4px;
    flex-grow: 1;
}


.portfolio-headings .page-title {
    padding: max(15px, 1.5%);
    margin-bottom: 0;
    font-size: clamp(0.75rem, 4.5vw, 2.3rem);
    border: none;
    width: 50%;
    background-color: white;
    text-align: center;
    border-left: 3px solid var(--main-blue);
    cursor: pointer;
    white-space: nowrap; 
    transition: background-color 200ms, color 200ms;
}

.cv-button {
    color: black;
    font-weight: 600;
    padding: max(5px, 0.3%);
    font-size: clamp(1rem, 4.5vw, 2.3rem);
    background-color: transparent;
    border: 3px solid var(--main-blue);
    border-radius: 4px;
    width: min(300px, 80%);
    cursor: pointer;
    margin-bottom: max(30px, 4%);
    transition: background-color 300ms, color 300ms;
    display: block;
    box-shadow: 2px 2px 5px rgba(35,35,35, 0.3);
}

.portfolio-headings .page-title:hover,
.cv-button:hover {
    background-color: rgba(24, 149, 220, 0.3);
    color: black;
}

.portfolio-headings .page-title:focus {
   outline: none;
}

.page-title.current {
    background-color: var(--main-blue);
    color: white;
}

.page-title.current:hover {
    background-color: var(--main-blue);
    color: white;
}

.page-title {
    text-align: left;
    font-size: 46px;
    font-size: 46px;
    font-size: 2.3rem;
    padding: max(20px, 3%) 0 1% 0;
    border-bottom: 2px solid var(--main-grey);
    font-weight: 400;
    margin-bottom: max(30px, 2%);
}

.album-page-heading h3 {
    border: none;
}

.album-page-heading {
    text-align: left;
    width: 100%;
    border-bottom: 2px solid var(--main-grey);
    padding: 0 0 30px 0;
    margin-bottom: 20px;
}

.album-page-heading a {
    color: #1895dc;
    font-size: clamp(0.7rem, 3vw, 0.8rem);
    font-weight: 300;
    -webkit-transition: color 325ms;
    transition: color 325ms;
    padding: 0 0 0 8px;
    text-decoration: underline;
}

.album-page-heading a:hover {
    color: hsl(202, 80%, 30%);
}

.body-main {
    width: 100%;
    background-color: white;
    z-index:2;
    position: relative;
}

.body-album {
    width: 90%;
}

.portfolio-body-content-container {
    width: 98%;
    padding-top: 0.5%;
}

.slide-container {
    padding: 1.5%;
    background-color: white;
    display: block;
}

.portfolio-web-body {
    display: none;
}

.portfolio-photo-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.web-text {
    text-align: left;
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    line-height: 1.4;
}

.web-text a,
.web-text-link {
    text-decoration: underline;
    color: var(--main-blue);
    transition: color 250ms;
    cursor: pointer;
}

.web-text a:hover,
.web-text-link:hover {
    color: #0F63F2;
}
.dropdown-arrow {
    width: max(15px, 1.1vw);
    margin-left: max(3px, 1%);
    transition: transform 300ms;
    cursor: pointer;
}

.feature-list {
    text-align: left;
    list-style: disc;
    line-height: 1.3;
    display: none;
    padding: max(3px, 1%) 0 max(3px, 1%) max(8px, 4%);
}

.rotate-arrow {
    transform: rotate(180deg);
}

.logo-container {
    display: flex;
    width: min(100%, 1150px);
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: max(30px, 4%);
}

.logo {
    width: clamp(30px, 10%, 100px);
    height: auto;
}

.logo-small {
    width: clamp(25px, 6%, 90px);
}

.text-github {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.github-logo {
    width: clamp(70px, 50%, 90px);
    border-radius: 100%;
    transition: background-color 350ms;
    margin-top: 30px;
}

.github-logo:hover {
    background-color: var(--main-blue);
}

.web-dev-width {
    width: min(98%, 1068px);
}

.web-body-title {
    margin-top: max(30px, 2.5%);
    width: min(100%, 1150px);
    border-bottom-color: var(--main-blue);
}

.project-title {
    font-size: clamp(1.3rem, 8vw, 1.8rem);
    text-align: left;
    text-decoration: underline;
    padding-bottom: max(2%, 10px);
    font-weight: 600;
    text-decoration: underline;
    line-height: 1.2;
    color: #060F61;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: max(6%, 70px);
}

.project-img {
    width: 40%;
    padding-bottom: max(2%, 8px);
}

.project-text {
    width: 60%;
    font-size: clamp(0.9rem, 3vw, 1.1rem);
    padding-right: 1%;
}

.divider {
    width: min(800px, 96%);
    height: 6px;
    background-color: var(--main-blue);
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}



/*====================
   3) Album styles
====================*/

.album-link-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
    /*font-family: "nuito sans", sans-serif;*/
    color: white;
    font-size: 30px;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 4%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(15, 15, 15, 0.5);
}

.album-tile {
    width: 30%;
    margin: 0 4px 8px 4px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 250px;
    max-width: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.overlay {
    background-color: rgba(15, 15, 15, 0);
    z-index: 2;
    box-sizing: border-box;
    -webkit-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}

.album-link-img {
    width: 100%;
    z-index: -1;
    position: relative;
    display: block;
}

.album-link-img::before {
    content: '';
    display: block;
    padding-top: 80%;
}

.album-tile:hover .overlay  {
    background-color: rgba(15, 15, 15, 0.6);
}

.album-photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.row {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    max-width: 25%;
    padding: 0 4px;
}

.row img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.back_to_top {
    margin: 70px 0 0 0;
    color: #1895dc;
    font-size: clamp(0.7rem, 3vw, 0.8rem);
    -webkit-transition: color 325ms;
    transition: color 325ms;
    text-decoration: underline;
}

.back_to_top:hover {
    color: #444;
}






/*====================
  4) Media Queries 
====================*/

@media only screen and (max-width: 960px) {
    .project-container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-img {
        width: min(98%, 500px);
        padding: max(1%, 10px) 0; 
    }

    .project-text {
        width: 98%;
    }
}

@media only screen and (max-width: 800px) {

    .body {
        max-width: 95%;
    }

    .row {
        -webkit-box-flex: 48%;
            -ms-flex: 48%;
                flex: 48%;
        max-width: 48%;
    }
}

@media only screen and (max-width: 600px) {

    .overlay1 {
    background-color: rgba(15, 15, 15, 0.4);
    
    }

    .album-link-title {
        background-color: rgba(15, 15, 15, 0.5); 
    }

    .column {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .row {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    .page-title span {
        display: none;
    }
}












